
body {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  margin-top: 80px;
  width: 60%;
}

.jumbotron {
  background-color:plum;
}

footer{
  margin-top: auto;
}

.container-fluid {
  color: white;
}